<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dm-altacuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>     
   <link rel="stylesheet" href="../../css/estilotechu.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>   
      <div>
      <button type="button" class="buttonhead" on-click="altaCuenta">
            <span class="glyphicon glyphicon-credit-card"></span> Añade Cuenta
        </button>          
      </div>     
      
   <iron-ajax
     id="newAccount"
     method="POST"
     url="http://ruta-apitechucmh.7e14.starter-us-west-2.openshiftapps.com/apitechu/v2/newaccount/{{id}}"
     content-type="application/json"
     handle-as="json"
     on-response="manageAJAXResponse"
     on-error="showError">
        
</template>
  <script>
    /**
     * @customElement
     * @polymer
     */
      
    class DmAltacuenta extends Polymer.Element {
      static get is() { return 'dm-altacuenta'; }
      static get properties() {
        return {
           id : {
            type : Number            
          }, iban : {
            type : String
          }
        };
      }
        
    altaCuenta(data){       
        var AccountData = {
        "id": this.id
        };
        console.log("Alta cuenta" + this.id);
        this.$.newAccount.body = JSON.stringify(AccountData);
        console.log("Datos de entrada alta cuenta " + JSON.stringify(AccountData));
        this.$.newAccount.generateRequest();     
        console.log("Petición enviada ");
        console.log("LLamada a la API ");
       
      }
       
      manageAJAXResponse(data){          
        console.log("Respuesta recibida y lanzo evento para pasar los datos recibidos");
        console.log(data);
        console.log("Alta de la cuenta" + JSON.stringify(data.detail.response));
        this.dispatchEvent(new CustomEvent("myeventdmaacount",{"detail":data.detail.response}));
        console.log("Envío evento con respuesta");

      }

      showError(error){
          
        console.log("Hubo un error");
        console.log(error);
        console.log(error.detail.error);

      }   
    
    }

    window.customElements.define(DmAltacuenta.is, DmAltacuenta);
  </script>
      
</dom-module>
