<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dm-movimiento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>     
      
    <iron-ajax 
        id="getMovements"
        url="http://ruta-apitechucmh.7e14.starter-us-west-2.openshiftapps.com/apitechu/v2/accounts/{{iban}}/movements"
        handle-as="json"
        on-response="manageAJAXResponse"
        on-error="showError"> 
        
</template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmMovimiento extends Polymer.Element {
      static get is() { return 'dm-movimiento'; }
      static get properties() {
        return {            
          iban: {
            type: String,
            observer : '_buscarMovimiento'
           }, movements: {
            type:Array
          }
        };
      }
        
    _buscarMovimiento(data){
       
        console.log("Recuperando movimientos");
        this.$.getMovements.body = JSON.stringify(data);
       console.log("Datos de entrada movimientos " + JSON.stringify(data));
        this.$.getMovements.generateRequest();
        console.log("Petición enviada ");
        console.log("LLamada a la API ");
       
      }
       
      manageAJAXResponse(data){          
        console.log("Respuesta recibida y lanzo evento para pasar los datos recibidos");
        console.log(data);
        console.log("Movimientos de la cuenta" + JSON.stringify(data.detail.response));
        this.dispatchEvent(new CustomEvent("myeventdmm",{"detail":data.detail.response}));
        console.log("Envío evento con respuesta");

      }

      showError(error){          
        console.log("Hubo un error");
        console.log(error);
        console.log(error.detail.error);
        this.dispatchEvent(new CustomEvent("myeventmoverror",{"detail":error.detail.error}));
        console.log("Envío evento con respuesta movimientos error");  

      }   
    
    }

    window.customElements.define(DmMovimiento.is, DmMovimiento);
  </script>
      
</dom-module>
