<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-movimiento">
  <template>
    <style>
      :host {
        display: block;
      }  
    </style> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/estilotechu.css">
      
    <div class="container">
    <table width="100%">
    <caption class="tablacabecera">Movimientos de Cuenta Personal con IBAN {{iban}} y tu balance total es de: {{balance}} €</caption>
    </table>
    <div class="tablascroll">          
      <table class="table" id="customers" align="center">
          
      <thead>
        <tr>
          <th scope="col">IMPORTE</th>
          <th scope="col">FECHA</th>
          <th scope="col">CONCEPTO</th>
        </tr>
      </thead>
      <tbody>
          <template is="dom-repeat" items="{{movements}}">
            <tr>
             <td>{{item.amount}} €</td>
             <td>{{item.date}}</td>
             <td>{{item.type}}</td>
            </tr>
          </template>
      </tbody>
    </table>    
    </div>
    <div aling="left" class="botonerainf">
    <button class="button" on-click="close"><span class="glyphicon glyphicon-arrow-left"></span> Volver</button>
    </div>
    </div>
</template>
    
  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorMovimiento extends Polymer.Element {
      static get is() { return 'visor-movimiento'; }
      static get properties() {
        return {
              ibanmov: {
                type: String
              },iban: {
                type: String
              }, balance: {
                type: Number
              }, movements: {
                type:Array
              }
            };
        }
    
    close(e){         
    console.log("Pulsado el volver");
    this.dispatchEvent(new CustomEvent("myeventdmmovvolver",{"detail":e.detail.response}));     
    }    
      
    }

    window.customElements.define(VisorMovimiento.is, VisorMovimiento);
  </script>
</dom-module>
