<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">   
    <link rel="stylesheet" href="../../css/estilotechu.css">
   
    <div class="container" id="formusu">      
        <div class="form-group">
          <label class="libre" for="email">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Introduzca E-mail" name="email" value="{{email::input}}" required>
        </div>
        <div class="form-group">
          <label class="libre" for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd" placeholder="Introduzca su password" name="pwd" value="{{password::input}}" required>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="remember"><span class="libre">Recuérdame</span></label>
        </div>
        <button type="submit" class="buttonaceptar" on-click="sendEventLogin"><span class="glyphicon glyphicon-user"></span> Acceda</button>  
    </div>

   </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
            email: {
            type: String
          }, password: {
            type: String
          }, logged: {
            type: Boolean,
            value : false
          }
        };
      }


    sendEventLogin(e){
    console.log("Login pulsado");
    console.log(e);
    console.log("Campos informados");

    this.dispatchEvent(new CustomEvent(
          "myeventlogin",
          {
            "detail" : {
              "email" : this.email,
              "password" : this.password
            }
        })
    );
    this.email = null;
    this.password = null;
  }  

    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
