<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>     
   
    <link rel="stylesheet" href="../../css/estilotechu.css"> 
   
    <div class="container">          
    <table width="100%">
        <caption class="tablacabecera">Estos son los datos de tus cuentas</caption>
    </table>
    <div class="tablascroll">
      <table class="table" id="customers" align="center">          
        <template is="dom-repeat" items="{{accounts}}">
        <thead>
          <tr>
            <th scope="col">IBAN Cuenta Personal</th>
            <th scope="col">Saldo en €</th>
            <th scope="col">Acciones</th>
           </tr>
        </thead>
        <tbody>
          <tr>        
            <td scope="col">{{item.iban}}</td>
            <td scope="col">{{item.balance}} €</td>
            <td scope="col">
            <button class="buttonsecond" on-click="sendEventMovimiento" data-toggle="tooltip" data-placement="top" title="Ver movimientos"><span class="glyphicon glyphicon-eye-open"></span></button><br>
            <br>
            <button class="buttonsecond" on-click="sendEventAltaMovimiento" data-toggle="tooltip" data-placement="top" title="Haz movimientos"><span class="glyphicon glyphicon-plus"></span></button>
            </td>             
          </tr>
        </tbody>
        </template>
      </table>   
      </div>
    </div> 
       
</template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuenta'; }
      static get properties() {
        return {
              userid: {
                type: Number
              },iban: {
                type: String
              }, balance: {
                type: Number
              }, accounts: {
                type:Array
              }
            };
        }
            
      sendEventMovimiento(e){
        console.log("Buscar movimientos pulsado");
        console.log(e);
        console.log("Campos informados" + e.model.item.iban);
        this.dispatchEvent(new CustomEvent(
              "myeventvisorm",
              {
                "detail" : {
                    "iban" : e.model.item.iban,
                    "balance" : e.model.item.balance
                }
            })
        );        
      }
    
    sendEventAltaMovimiento(e){
        console.log("Alta movimientos pulsado");
        console.log(e);
        console.log("Campos informados" + e.model.item.iban);
        this.dispatchEvent(new CustomEvent(
              "myeventvisoram",
              {
                "detail" : {
                    "iban" : e.model.item.iban,
                    "balance" : e.model.item.balance
                }
            })
        );        
      }
    }

    window.customElements.define(VisorCuenta.is, VisorCuenta);
  </script>
</dom-module>
