/*body {
   background-image:  linear-gradient(rgba(255,255,255,.27), rgba(255,255,255,.27)),url("mifondoapp.jpeg");
   background-size: 100%;
       
}*/
.tituloprincipal {
    font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif;
    color: white;    
}

.container {
    padding-right: 5%;
    padding-left: 5%;
    margin-right: auto;
    margin-left: inherit; 
    width: 100%;
}

.botonera {
    padding-right: 15px;
    padding-left: 5%;
    margin-right: auto;
    margin-left: inherit; 
    padding-bottom: 60px;
    padding-top: 30px;
}

.botonerainf {
    padding-left: 2%;
    margin-right: auto;
    margin-left: inherit;    
    padding-top: 15px;
}

.tablacabecera {
    background-color: cornflowerblue;
    font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-left: 10px; 
    
}

.mensajealta {
    background-color: cornflowerblue;
    font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-left: 50px;
    margin-left: 50px;
    width: 50%;
    padding: 15px;
    
}

.mensajenomov {
    background-color: cornflowerblue;
    font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif;
    color: white;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 1px;
    padding-left: 5px;
    margin-left: 5px;
    width: 20%;
    height: 100px;
    padding: 15px;
    position: absolute;
    top: 60%;
    left: 38%;
}

.botonnomov{
    margin-top: 20px;
}

.libre {
    font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif;
    color: white;
    font-weight: bold;
}

.librenormal {
    font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif;
    color: white;
    font-size: 20px;
    
}

.datos {
    font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif;
    color: white;}

google-map {
    height: 300px;
    width: 100%;
    align-self: center;
    }

.desconectar{
    float: right;
}

.conectar{
    float: left;
}

#fondocompleto {
    z-index:-1; 
    position:absolute; 
    width:100%;
    height:100%;
    opacity: 0.78;
}

#formusu {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    text-align: left;
}

#formlocal {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    align-self: center;
}

#formmov {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

#localizacion {
    border-collapse: collapse;
    width: 90%;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    background-color: #F8F8F8;
    overflow-y:auto;
    width: 100%;
}

#customers td, #customers th {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #1285bc;
    border: 1px solid aliceblue;    
    padding: 8px;
    font-size: 12px;
}

#customers tr:nth-child(even){background-color: #E0E0E0;}

/*#customers tr:hover {background-color: cornflowerblue;}*/

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #d6d6d6;
    color: #1285bc;
}

.tablascroll {
    height: 275px;
    overflow-y:auto;
    overflow-x: hidden;
    }

.buttonhead {
    background-color: orange; /* dorado */
    border: none;
    border-radius: 4px;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: "Times New Roman", Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.buttonhead:hover {
    background-color: darkorange; /* naranjaoscuro */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttonaceptar {
    background-color: orange; /* dorado */
    border: none;
    border-radius: 4px;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: "Times New Roman", Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 100%;
}

.buttonaceptar:hover {
    background-color: darkorange; /* naranjaoscuro */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button {
    background-color: orange; /* dorado */
    border: none;
    border-radius: 4px;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

.button:hover {
    background-color: darkorange; /* naranjaoscuro */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttonsecond {
    background-color: orange; /* dorado */
    border: none;
    border-radius: 4px;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}

.buttonsecond:hover {
    background-color: darkorange; /* naranjaoscuro */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
