<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dm-actualizabal">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>     
      
    <iron-ajax 
        id="getUseraccounts"
        url="http://localhost:3000/apitechu/v2/accounts/{{ibanact}}"
        handle-as="json"
        on-response="manageAJAXResponse"
        on-error="showError"> 
        
</template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmActualizabal extends Polymer.Element {
      static get is() { return 'dm-actualizabal'; }
      static get properties() {
        return {            
          ibanact: {
            type: String,
            observer : '_buscarUsuariocuenta'
          }, id: {
            type: Number
          }, balance: {
            type: Number
          }
        };
      }
        
   _buscarUsuariocuenta(data){
      /* var actualizaData = {
        "iban": this.ibanact
        };*/
        console.log("Recuperando usuario por IBAN " + JSON.stringify(data));
        this.$.getUseraccounts.body = JSON.stringify(data);
        this.$.getUseraccounts.generateRequest();
        console.log("Petición enviada ");
        console.log("LLamada a la API ");
       
      }

      manageAJAXResponse(data){
          
        console.log("Respuesta recibida y lanzo evento para pasar los datos recibidos. ID Usuario");
        console.log(data.detail.response);
        this.dispatchEvent(new CustomEvent("myeventdmactualizabal",{"detail":data.detail.response}));
        console.log("Envío evento con respuesta");
          
      }

      showError(error){          
        console.log("Hubo un error");
        console.log(error);
        console.log(error.detail.error);

      }        
    
    }

    window.customElements.define(DmActualizabal.is, DmActualizabal);
  </script>
      
</dom-module>
