<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="alta-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/estilotechu.css">
    
     <div class="container" id="formusu"> 
    <h2 class="libre"><strong>Alta Cliente</strong></h2>
    <div class="form-group">
      <label for="email" class="libre">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Introduzca email" name="email" value="{{email::input}}">
    </div>
    <div class="form-group">
      <label for="pwd" class="libre">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Introduzca password" name="pwd" value="{{password::input}}">
    </div>
     <div class="form-group">
      <label for="pwd" class="libre">Nombre:</label>
      <input type="text" class="form-control" id="pwd" placeholder="Introduzca Nombre" name="fn" value="{{first_name::input}}">
    </div>
    <div class="form-group">
      <label for="pwd" class="libre">Apellido:</label>
      <input type="text" class="form-control" id="pwd" placeholder="Introduzca Apellido" name="ln" value="{{last_name::input}}">
    </div>
    <div aling="left">
    <button type="submit" class="button" on-click="sendEventUsuario"><span class="glyphicon glyphicon-user"></span> Alta Cliente</button>         
    <button class="button" on-click="close"><span class="glyphicon glyphicon-arrow-left"></span> Volver</button>
    </div>
    </div>

   </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaUsuario extends Polymer.Element {
      static get is() { return 'alta-usuario'; }
      static get properties() {
        return {
              first_name: {
                type: String
              }, last_name: {
                type: String
              }, email: {
                type: String
              }, password: {
                type: String
              }
          };
        }

      sendEventUsuario(e){
        console.log("Alta pulsado");
        console.log(e);
        console.log("Campos informados");

        this.dispatchEvent(new CustomEvent(
              "myeventalta",
              {
                "detail" : {
                  "email" : this.email,
                  "password" : this.password,
                  "first_name" : this.first_name,
                  "last_name" : this.last_name
                }
            })
        );
        console.log("Envío evento con datos" + e.detail);
        this.email = null;
        this.password = null;
        this.last_name = null;
        this.first_name = null;
        }
        
    close(e){         
    console.log("Pulsado el volver en Alta Usuarios");
    this.dispatchEvent(new CustomEvent("myeventaltausuvolver",{"detail":e.detail.response}));
    this.email = null;
    this.password = null;
    this.last_name = null;
    this.first_name = null;
    }   
    }

    window.customElements.define(AltaUsuario.is, AltaUsuario);
  </script>
</dom-module>
