<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="alta-movimiento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/estilotechu.css">
    
    <div class="container" id="formmov">
      <h2 class="libre">Realice su movimiento</h2>
      <p class="libre">Rellene los campos</p>
    
    <div class="form-group">
      <div class="input" >
          <input type="text" class="form-control" placeholder="IBAN" value="{{ibanmov::input}}"/>
        </div>
        <br>
        <div class="input" >
          <input type="number" class="form-control" placeholder="Importe" value="{{amount::input}}"/>
        </div> 
        <br>
        <div class="input">
          <input type="text" class="form-control" placeholder="Concepto" value="{{typemov::input}}"/>
        </div> 
        <br><br>
        <div>
          <button class="button" on-click="sendEventMovimiento"><span class="glyphicon glyphicon-transfer"></span> Enviar</button>   
          <button class="button" on-click="closeAltamov"><span class="glyphicon glyphicon-arrow-left"></span> Volver</button>
        </div> 
    </div>        
    </div>  
      
   </template>
   
  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaMovimiento extends Polymer.Element {
      static get is() { return 'alta-movimiento'; }
      static get properties() {
        return {
              ibanmov: {
                type: String
              }, amount: {
                type: Number
              }, typemov: {
                type: String
              }
          };
        }

        sendEventMovimiento(e){
        console.log("Alta movimiento pulsado");
        console.log(e);
        console.log("Campos informados");

        this.dispatchEvent(new CustomEvent(
              "myeventaltamov",
              {
                "detail" : {
                  "ibanmov" : this.ibanmov,
                  "amount" : this.amount,
                  "typemov" : this.typemov
                }
            })
        );
    this.amount = null;
    this.typemov = null;
    //this.$.id = null;
      }

    closeAltamov(e){         
    console.log("Pulsado el volver alta mov");
    this.amount = null;
    this.typemov = null;
    this.dispatchEvent(new CustomEvent("myeventdmnewmovvolver",{"detail":e.detail.response}));     
    } 
    }

    window.customElements.define(AltaMovimiento.is, AltaMovimiento);
  </script>
</dom-module>
