<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="modif-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">   
    <link rel="stylesheet" href="../../css/estilotechu.css">
    
     <div class="container" id="formusu"> 
    <h3 class="libre"><strong>Cambio de Contraseña</strong></h3>  
    <div class="form-group">
      <label for="email" class="libre">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Introduzca email" name="email" value="{{email::input}}" required>
    </div>   
    <div class="form-group">
      <label for="pwd" class="libre">Nueva Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Nueva password" name="pwd" value="{{passwordprima::input}}" required>
    </div>
    <div class="form-group">
      <label for="pwd" class="libre">Repita Nueva Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Repita Nueva Password" name="pwd" value="{{password::input}}" required>
    </div>
    <button type="submit" class="button" on-click="sendEventModusuario"><span class="glyphicon glyphicon-user"></span> Modificar Contraseña</button>
    <button type="submit" class="button" on-click="closeModifUsuario"><span class="glyphicon glyphicon-arrow-left"></span> Volver</button>
    </div>   
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ModifUsuario extends Polymer.Element {
      static get is() { return 'modif-usuario'; }
      static get properties() {
        return {
           first_name: {
            type: String
          }, last_name: {
            type: String
          }, email: {
            type: String
          }, password: {
            type: String
          }
        };
          
    }      
        
    sendEventModusuario(e){
        console.log("Modificar usuario pulsado");
        console.log(e);
        console.log("Campos informados");

        this.dispatchEvent(new CustomEvent(
              "myeventmodificausu",
              {
                "detail" : {
                  "email" : this.email,
                  "newpassword" : this.password
                }
            })
        );
        this.email = null;
        this.password = null;
        this.passwordprima = null;   
      }
    
    closeModifUsuario(e){         
    console.log("Pulsado el volver alta mov");
    this.dispatchEvent(new CustomEvent("myeventdmmodifusuvolver",{"detail":e.detail.response}));
    this.email = null;
    this.password = null;
    this.passwordprima = null;
    this.last_name = null;
    this.first_name = null;
    } 
    
    }

    window.customElements.define(ModifUsuario.is, ModifUsuario);
  </script>
</dom-module>
