<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dm-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style> 
      
    <iron-ajax
     id="newUser"
     method="POST"
     url="http://ruta-apitechucmh.7e14.starter-us-west-2.openshiftapps.com/apitechu/v2/newuser"
     content-type="application/json"
     handle-as="json"
     on-response="manageAJAXResponse"
     on-error="showError">
        
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmUsuario extends Polymer.Element {
      static get is() { return 'dm-usuario'; }
      static get properties() {
        return {
           nuevo_usuario : {
            type : Object,
            observer : '_altaUsuario'
          }
        };
      }
        
   _altaUsuario(data){
        console.log("Estoy en dm-USUARIO : funcion _altausuario");
        console.log("Datos entrada" + JSON.stringify(data));
        this.$.newUser.body = JSON.stringify(data);
        this.$.newUser.generateRequest();
        console.log("Petición enviada ");
        console.log("LLamada a la API ");
      }


      manageAJAXResponse(data){
        console.log("Respuesta recibida y lanzo evento para pasar los datos recibidos");
        console.log(data);
        console.log(data.detail.response);
        this.dispatchEvent(new CustomEvent("myeventdm",{"detail":data.detail.response}));
        console.log("Envío evento con respuesta");
      }

      showError(error){
        console.log("Hubo un error");
        console.log(error);
        console.log(error.detail.error);

      }        
    
    }

    window.customElements.define(DmUsuario.is, DmUsuario);
  </script>
      
</dom-module>
