<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="import" href="../login-usuario/login-usuario.html">
<link rel="import" href="../dm-login/dm-login.html">
<link rel="import" href="../dm-logout/dm-logout.html">
<link rel="import" href="../alta-usuario/alta-usuario.html">
<link rel="import" href="../dm-usuario/dm-usuario.html">
<link rel="import" href="../modif-usuario/modif-usuario.html">
<link rel="import" href="../dm-modusuario/dm-modusuario.html">
<link rel="import" href="../visor-cuenta/visor-cuenta.html">
<link rel="import" href="../dm-cuenta/dm-cuenta.html">
<link rel="import" href="../dm-movimiento/dm-movimiento.html">
<link rel="import" href="../visor-movimiento/visor-movimiento.html">
<link rel="import" href="../dm-altamov/dm-altamov.html">
<link rel="import" href="../dm-altacuenta/dm-altacuenta.html">
<link rel="import" href="../dm-actualizabal/dm-actualizabal.html">
<link rel="import" href="../alta-movimiento/alta-movimiento.html">

<dom-module id="mi-banco">
  <template>
    <style>
      :host {
        display: block;
      }          
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/estilotechu.css">
      
    <div class="botonera" hidden="{{!showBotonera}}">        
        <div class="col-sm-2 desconectar" hidden$="{{!showLogout}}">    
        <dm-logout id={{id}} on-myeventdmlogout="processRespuestaLogout"></dm-logout>
        </div> 
        <div class="col-sm-2 desconectar" hidden$="{{!showLogout}}" align="center">
            <dm-altacuenta id={{id}} on-myeventdmaacount="processRespuestaAltacuenta"></dm-altacuenta>        
        </div>
        <div class="col-sm-3 desconectar" hidden$="{{!showLogout}}" align="right">
        <button type="button" class="buttonhead" on-click="showModuser">
            <span class="glyphicon glyphicon-edit"></span> Cambia Contraseña
        </button>
        </div>      
        
        <div class="col-sm-2 conectar" hidden$="{{!showLogin}}">
        <button type="button" class="buttonhead" on-click="showLocalization">
            <span class="glyphicon glyphicon-edit"></span> Contáctanos
        </button>
        </div>
        <div class="col-sm-2 conectar" hidden$="{{!showLogin}}">
        <button type="button" class="buttonhead" on-click="showNewuser">
            <span class="glyphicon glyphicon-user"></span> Hazte cliente
        </button>
        </div>        
        
    </div>
      
    <div hidden$="{{!showLogin}}">
      <login-usuario on-myeventlogin="processEventoLogin"></login-usuario>
    </div>
    <dm-login credenciales={{credenciales}} on-myeventdmlogin="processRespuestaLogin" on-myeventloginerror="processRespuestaLoginerror"></dm-login>
      
    <dm-cuenta userid={{id}} on-myeventdmc="processPeticionCuenta"></dm-cuenta>
    <div hidden$="{{!showAccount}}">
      <visor-cuenta accounts={{accounts}} on-myeventvisoram="processEveAltaMov" on-myeventvisorm="processEventoCuenta"></visor-cuenta>
    </div>
      
    <dm-movimiento iban={{iban}} on-myeventdmm="processResquestaMovimientos" on-myeventmoverror="processRespuestamoverror"></dm-movimiento>
      <div hidden$="{{!showNomov}}" class="mensajenomov">
        <span><strong>Aviso!</strong> Cuenta sin movimientos</span><br>
        <button class="button desconectar botonnomov" on-click="closenomov"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
   <div hidden$="{{!showMov}}">
    <visor-movimiento iban={{iban}} balance={{balance}} movements={{movements}} on-myeventdmmovvolver="processMovimientosVolver"></visor-movimiento>
    </div>
    
    <div hidden$="{{!showNewmov}}">
      <alta-movimiento ibanmov={{ibanmov}} on-myeventaltamov="processEventoAltamov" on-myeventdmnewmovvolver="processAltaMovimientosVolver"></alta-movimiento>
    </div>
    <dm-altamov nuevo_movimiento={{nuevo_movimiento}} on-myeventdmam="processRespuestaAltamov"></dm-altamov>
    <dm-actualizabal ibanact={{ibanact}} on-myeventdmactualizabal="processRespuestaActualizabal"></dm-actualizabal>
          
    <div hidden$="{{!showNewmessaje}}" class="mensajealta">
        <strong>Info!</strong> No existe en nuestra BBDD, Te daremos de alta con Cuenta Personal
    </div>   
    <div hidden$="{{!showNew}}">
      <alta-usuario on-myeventalta="processEventoUsuario" on-myeventaltausuvolver="processAltaUsuarioVolver"></alta-usuario>
    </div>
    <dm-usuario nuevo_usuario={{nuevo_usuario}} on-myeventdm="processRespuestaUsuario"></dm-usuario>
      
    <div  hidden$="{{!showModusu}}">
    <modif-usuario on-myeventmodificausu="processEventoModUsuario" on-myeventdmmodifusuvolver="processModificarUsuarioVolver"></modif-usuario>
    </div>
    <dm-modusuario actual_usuario={{actual_usuario}} on-myeventdmmu="processRespuestaModificarusuario"></dm-modusuario>  

     
    <div class="container" id="formlocal" hidden$="{{!showLocal}}">  
      <div class="row">
        <div align="center" class="desconectar"><button class="button" on-click="closelocalizacion"><span class="glyphicon glyphicon-arrow-left"></span> Volver</button></div>
          <div class="col-sm-8">
          <p class="libre">Contacte con nosotros y resolveremos sus dudas antes de 24 horas.</p>
          <p class="libre"><span class="glyphicon glyphicon-map-marker"></span> Madrid, España</p>
          <p class="libre"> <span class="glyphicon glyphicon-phone"></span> +34 1515151515</p>
          <p class="libre"><span class="glyphicon glyphicon-envelope"></span> bancapersonal@bbva.com</p>
        </div>  
        </div>        
        <google-map fit-to-markers api-key="AIzaSyD3E1D9b-Z7ekrT3tbhl_dy8DCXuIuDDRc">
          <google-map-marker latitude="40.4893538" longitude="-3.6827461" draggable="true"></google-map-marker>
        </google-map>
   </div>       
    
      
     </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiBanco extends Polymer.Element {
      static get is() { return 'mi-banco'; }
      static get properties() {
        return {
            credenciales : {
                type : Object
          }, email : {
                type: String
          }, password : {
                type: String
          }, logged: {
            type: Boolean,
            value : false
          }, id : {
                type: Number
          }, first_name : {
                type: String
          }, last_name : {
                type: String
          }, email: {
                type: String
          }, nuevo_usuario : {
                type : Object
          }, actual_usuario : {
                type : Object
          }, userid : {
                type: Number
          }, accounts : {
              type: Array
          }, iban : {
              type : String
          }, balance : {
              type : Number
          }, ibanmov : {
              type : String
          },ibanact : {
              type : String
          },error : {
              type : String
          }, amount : {
              type : Number
          }, typemov : {
              type : String
          }, movements : {
              type: Array
          }, nuevo_movimiento : {
              type : Object
          }, showLogin : {
              type: Boolean,
              value: true
          }, showAccount : {
              type: Boolean,
              value: false
          }, showNew : {
              type: Boolean,
              value: false
          },showMov : {
              type: Boolean,
              value: false
          }, showNewmov : {
              type: Boolean,
              value: false
          },showLogout : {
              type: Boolean,
              value: false
          }, showModusu : {
              type: Boolean,
              value: false
          }, showLocal : {
              type: Boolean,
              value: false
          }, showBotonera : {
              type: Boolean,
              value: true
          }, showNewmessaje : {
              type: Boolean,
              value: false
          }, showNomov : {
              type: Boolean,
              value: false
          }
        };
      }

    showNewuser(){
    console.log("Pulsado el alta");
    this.showNew = true;
    this.showModusu = false; 
    this.showAccount = false;
    this.showNewmov = false;
    this.showLogin = false;
    this.showLocal = false;
    this.showMov = false;
    this.showBotonera = false;
    }
    
    showModuser(){
    console.log("Pulsado gestion");
    this.showModusu = true; 
    this.showAccount = false;
    this.showNewmov = false;
    this.showLogin = false;
    this.showLocal = false;
    this.showMov = false;
    this.showNomov = false;
    }
        
    showLocalization(){
    console.log("Pulsado localización");
    this.showModusu = false; 
    this.showAccount = false;
    this.showNewmov = false;
    this.showLogin = false;
    this.showMov = false;
    this.showLocal = true;
    this.showBotonera = false;
    }
    
    closelocalizacion() {
    console.log("Pulsado volver localización");
    this.showModusu = false; 
    this.showAccount = false;
    this.showNewmov = false;
    this.showLogin = true;
    this.showMov = false;
    this.showLocal = false;
    this.showBotonera = true;
            
    }
        
    closenomov(){        
        this.showNomov = false;
    }

//Eventos para el login y respuesta
    processEventoLogin(e) {
        console.log("Evento capturado del login");
        console.log(e.detail);
        this.credenciales = e.detail;
        }

    processRespuestaLoginerror(e){
        console.log("Error capturado del login");
        console.log(e.detail.error);
        this.showNew = true;
        this.showNewmessaje = true;
        this.showAccount = false;
        this.showLogin = false; 
        this.showBotonera = false;
        this.showMov = false;
        this.showNomov = false;
        }

    processRespuestaLogin(e){
        console.log("Evento capturado del Data Manager Logon");
        console.log(e.detail);
        this.showLogin = false;
        this.showAccount = true;
        this.showLogout = true;
        this.showMov = false;
        this.id = e.detail.idUsuario;
        console.log("USUARIO Logado " + this.id);

      }

// Respuesta Logout
  
   processRespuestaLogout(e){
      console.log("Evento capturado del Data Manager Logout");
      console.log(e.detail);      
      this.showLogin = true;
      this.showAccount = false;
      this.showLogout = false;
      this.showMov = false;
      this.showNewmov = false;
      this.showModusu = false;
      this.showLocal = false;
      this.showNomov = false;
      console.log("el usuario ha hecho Logout " + this.id);
    }

//Eventos Alta usuario, respuesta alta usuario y volver
        
    processEventoUsuario(e){
    console.log("Evento capturado del componente alta-usuario");
    console.log(e.detail);
    this.nuevo_usuario = e.detail;
    console.log(" Mostramos datos nuevo usuario -> " + JSON.stringify(this.nuevo_usuario));
  }

    processRespuestaUsuario(e){
    console.log("Evento capturado del Data Manager NuevoUsu");
    console.log(e.detail);
    this.id = e.detail.idUsuario;    
    this.showNewmessaje = false;
    this.showNew = false;
    this.showBotonera = true;
    this.showLogout = true;
    this.showAccount = true;
    this.showNomov = false;
    console.log(" Todo OK USUARIO DADO DE ALTA " + this.id);
        
  }

    processAltaUsuarioVolver(e){
    console.log("Evento capturado del componente alta-usuario");
    console.log(e.detail);
    this.showMov = false;
    this.showNomov = false;
    this.showAccount = false;
    this.showLogin =  true;
    this.showNewmov = false;
    this.showModusu = false;
    this.showLocal = false;
    this.showNew = false;
    this.showBotonera = true;
    this.showNewmessaje = false;
    }


//Eventos consulta cuentas y respuesta consulta cuentas de usuario

   processEventoCuenta(e){
    console.log("Evento capturado del componente visor-cuenta");
    this.iban = e.detail.iban;
    this.balance = e.detail.balance;
    console.log("  Mostramos datos cuenta -> ");
  }

    processPeticionCuenta(e){
    console.log("Evento capturado del componente dm-cuenta");
    console.log(e.detail);
    this.accounts = e.detail;
    this.showLogin =  false;
    this.showLocal = false;
    this.showMov = false;
    this.showNomov = false;
  }
        
//Respuesta de Consulta de movimientos
        
    processResquestaMovimientos(e){
    console.log("Evento capturado del componente dm-movimiento");
    console.log(e.detail);
    this.movements = e.detail;   
    this.showMov = true;
    this.showAccount = false;
    this.showLogin =  false;
    this.showLocal = false;
    this.showNomov = false;
  }
    
    processRespuestamoverror(e){
    console.log("Evento capturado del componente dm-movimiento cuando no hay movimiento");
    console.log(e.detail);
    this.showNomov = true;        
    this.showAccount = true;
    this.showLogin =  false;
    this.showLocal = false;
  }
        
    processMovimientosVolver(e){
    console.log("Evento capturado del componente visor-movimiento");
    console.log(e.detail);
    this.showMov = false;
    this.showAccount = true;
    this.showLogin =  false;
    this.showLocal = false;
    this.showNomov = false;
    }
        
    processRespuestaActualizabal(e){
    console.log("Evento capturado del componente dm-actualizasal");
    console.log(e.detail.idUsuario);
    this.id = e.detail.idUsuario;  
    
  }

//Eventos alta movimiento y respuesta alta movimiento
    processEventoAltamov(e){
    console.log("Evento capturado del componente alta-movimiento");
    console.log(e.detail);
    this.nuevo_movimiento = e.detail;
    console.log(" Mostramos datos nuevo movimiento -> " + JSON.stringify(this.nuevo_movimiento));
  }
       
    processEveAltaMov(e){
    console.log("Evento capturado del componente dm-cuenta para alta mov");
    console.log(e.detail);
    this.ibanmov = e.detail.iban;
    this.balance = e.detail.balance;
    this.showLogin =  false;
    this.showMov = false;
    this.showAccount = false;
    this.showNewmov = true;
    this.showLocal = false;
    this.showNomov = false;
  }

    processRespuestaAltamov(e){
    console.log("Evento capturado del Data Manager nuevo movimiento");
    console.log(e.detail);
    this.ibanact = e.detail.iban;
    this.balanceact = e.detail.balance;
    this.showLogin =  false;
    this.showAccount = true;
    this.showNewmov = false;
    this.showLocal = false;
    this.showNomov = false;
    console.log("IBAN NUEVO BALNCE " + this.ibanact);
    console.log("NUEVO BALANCE " + this.balanceact);
  }
        
    processAltaMovimientosVolver(e){
    console.log("Evento capturado del componente visor-movimiento");
    console.log(e.detail);
    this.showMov = false;
    this.showAccount = true;
    this.showLogin =  false;
    this.showNewmov = false;
    this.showLocal = false;
    this.showNomov = false;
    }

//Alta cuenta
    
    processRespuestaAltacuenta(e){
      console.log("Evento capturado del Data Manager alta cuenta");
      console.log(e.detail);
      this.id = e.detail.id;
      this.showLogin = false;
      this.showAccount = true;
      this.showLogout = true;
      this.showMov = false;
      this.showNewmov = false;
      this.showModusu = false;
      this.showLocal = false;
      this.showNomov = false;
      this.showBotonera = true;
      console.log("Se ha creado una cuenta para el cliente " + this.id);
    }
        
//Eventos cambio contraseña

    processEventoModUsuario(e){
    console.log("Evento capturado del componente modificar usuario");
    console.log(e.detail);
    this.actual_usuario = e.detail;
    console.log(" Mostramos datos nuevo movimiento -> " + JSON.stringify(this.actual_usuarioo));
  }
       
    processRespuestaModificarusuario(e){
    console.log("Evento capturado del Data Manager Modificar Usuario");
    console.log(e.detail);
    this.showLogin =  false;
    this.showAccount = true;
    this.showNewmov = false;
    this.showModusu = false;
    this.showLocal = false;
    this.showNomov = false;
  }
        
    processModificarUsuarioVolver(e){
    console.log("Evento capturado del componente visor-movimiento");
    console.log(e.detail);
    this.showMov = false;
    this.showAccount = true;
    this.showLogin =  false;
    this.showNewmov = false;
    this.showModusu = false;
    this.showLocal = false;
    this.showNomov = false;
    }

}

    window.customElements.define(MiBanco.is, MiBanco);
  </script>
</dom-module>
